<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webarch.dao.SysResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.webarch.model.SysResources" >
    <id column="res_id" property="resId" jdbcType="INTEGER" />
    <result column="res_url" property="resUrl" jdbcType="VARCHAR" />
    <result column="res_creater" property="resCreater" jdbcType="VARCHAR" />
    <result column="res_mark" property="resMark" jdbcType="VARCHAR" />
    <result column="res_time" property="resTime" jdbcType="TIMESTAMP" />
    <result column="res_status" property="resStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    res_id, res_url, res_creater, res_mark, res_time, res_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where res_id = #{resId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_resources
    where res_id = #{resId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webarch.model.SysResources" >
    insert into sys_resources (res_id, res_url, res_creater, 
      res_mark, res_time, res_status
      )
    values (#{resId,jdbcType=INTEGER}, #{resUrl,jdbcType=VARCHAR}, #{resCreater,jdbcType=VARCHAR}, 
      #{resMark,jdbcType=VARCHAR}, #{resTime,jdbcType=TIMESTAMP}, #{resStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webarch.model.SysResources" >
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        res_id,
      </if>
      <if test="resUrl != null" >
        res_url,
      </if>
      <if test="resCreater != null" >
        res_creater,
      </if>
      <if test="resMark != null" >
        res_mark,
      </if>
      <if test="resTime != null" >
        res_time,
      </if>
      <if test="resStatus != null" >
        res_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        #{resId,jdbcType=INTEGER},
      </if>
      <if test="resUrl != null" >
        #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="resCreater != null" >
        #{resCreater,jdbcType=VARCHAR},
      </if>
      <if test="resMark != null" >
        #{resMark,jdbcType=VARCHAR},
      </if>
      <if test="resTime != null" >
        #{resTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resStatus != null" >
        #{resStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webarch.model.SysResources" >
    update sys_resources
    <set >
      <if test="resUrl != null" >
        res_url = #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="resCreater != null" >
        res_creater = #{resCreater,jdbcType=VARCHAR},
      </if>
      <if test="resMark != null" >
        res_mark = #{resMark,jdbcType=VARCHAR},
      </if>
      <if test="resTime != null" >
        res_time = #{resTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resStatus != null" >
        res_status = #{resStatus,jdbcType=CHAR},
      </if>
    </set>
    where res_id = #{resId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webarch.model.SysResources" >
    update sys_resources
    set res_url = #{resUrl,jdbcType=VARCHAR},
      res_creater = #{resCreater,jdbcType=VARCHAR},
      res_mark = #{resMark,jdbcType=VARCHAR},
      res_time = #{resTime,jdbcType=TIMESTAMP},
      res_status = #{resStatus,jdbcType=CHAR}
    where res_id = #{resId,jdbcType=INTEGER}
  </update>

  <!--一次性查询权限的字符串 -->
  <resultMap id="PrivilegeResultMap" type="com.webarch.model.PrivilegeModel">
    <result column="url" property="resUrl" jdbcType="VARCHAR"/>
    <collection property="roleName" javaType="java.util.ArrayList" ofType="java.lang.String">
      <result column="role"/>
    </collection>
    <collection property="permsName" javaType="java.util.ArrayList" ofType="java.lang.String">
      <result column="perm"/>
    </collection>
  </resultMap>
  <!-- 查询角色 -->
  <select id="selectResourceRoles" resultMap="PrivilegeResultMap">
    SELECT sr.res_url url,role.role_name role,'0' perm
    FROM sys_resources sr,sys_role role,sys_res_role srr
    WHERE sr.res_status='0' AND role.role_status='0'
    AND sr.res_id=srr.res_id AND role.role_id=srr.role_id
  </select>
  <!-- 查询权限 -->
  <select id="selectResourcePerms" resultMap="PrivilegeResultMap">
    SELECT sr.res_url url,sp.perm_name perm,'0' role
    FROM sys_resources sr,sys_permission sp,sys_res_perm srp
    WHERE sr.res_status='0' AND sp.perm_status='0'
    AND sr.res_id=srp.res_id AND sp.perm_id=srp.perm_id
  </select>
  <!--查询角色和权限 -->
  <select id="selectResourcePris" resultMap="PrivilegeResultMap">
        SELECT sr.res_url url,role.role_name role,sp.perm_name perm
          FROM sys_resources sr,sys_role role,sys_permission sp,sys_res_role srr,sys_res_perm srp
          WHERE sr.res_id=srr.res_id AND role.role_id=srr.role_id
            AND sr.res_id=srp.res_id AND sp.perm_id=srp.perm_id
            AND sr.res_status='0' AND role.role_status='0' AND sp.perm_status='0'
    </select>
</mapper>