<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webarch.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.webarch.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="roles" property="roles" jdbcType="VARCHAR" />
    <result column="perms" property="perms" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, roles,perms, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webarch.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (id, username, password, 
      roles,perms, status)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{roles,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webarch.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="roles != null" >
        roles,
      </if>
      <if test="perms != null" >
        perms,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        #{roles,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webarch.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        roler = #{roles,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        perms = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webarch.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR},
      perms = #{perms,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 获取用户登录凭证-->
  <resultMap id="IdAndPassword_ResultMap" type="java.util.HashMap">
    <result column="id" property="id"/>
    <result column="pwd" property="pwd"/>
    <result column="status" property="status"/>
  </resultMap>
  <select id="selectIdAndPasswordByUserName" resultMap="IdAndPassword_ResultMap">
    SELECT u.password pwd,u.id id,u.status status
    FROM user u
    WHERE u.username=#{account,jdbcType=VARCHAR}
  </select>
  <!-- 获取用户权限信息，一般角色和授权信息分表存放，演示放入了用户表 -->
  <select id="selectPrivileges" resultMap="BaseResultMap">
    select u.id,u.roles,u.perms
    from user u
    where u.id=#{userId}
  </select>

  <select id="selectIdentity" resultType="int">
    select u.id
    from user
    where u.username=#{account,jdbcType=VARCHAR}
  </select>

  <select id="selectUserByAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user u
    where u.userName=#{account,jdbcType=VARCHAR}
  </select>
</mapper>